body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

h3 {
  color: var(--accent-color);
}

$vert: #6e9b81;
.modal-header {
  background-color: $vert;
}

$blancCasse: #e2d4d4;
#searchDico{
  background-color: $blancCasse;
  border: 1px solid var(--border-color);
  color: blueviolet;
}