:root {
  --bg-color: #2d3436;
  --text-color: #f1f2f6;
  --accent-color: #6c5ce7;
  --custom-color: #ff007f;
}

[data-theme='dark'] {
  --bg-color: #2d3436;
  --text-color: #f1f2f6;
  --accent-color: #6c5ce7;
  --custom-color: #ff007f;
}
